body {
    background-image: url('../fond_djo.png'); /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin réel de votre image */
    background-size: ; /* Ajuste la taille de l'image pour couvrir l'ensemble du corps */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    }

footer {
    padding: 10px;
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:40px; 
    background-color: white; /* Ajoutez la couleur de fond souhaitée pour le footer */
    color: 333; /* Couleur du texte du footer */
    text-align: center;  /* Hauteur du pied de page */
}
